-# App Download CTA Slimbar
.app-download
	.content
		.slimbar-cta
			.slimbar-cta-copy>
				{% header "download_cta_header" label="Download CTA Header", header_tag="h3", value="" %}
				{% header "downlaod_cta_subheader" label="Download CTA Subheader", header_tag="h3", value="" %}
			.download-buttons>
				{% cta "iphone_download_cta" label="iPhone CTA Button", embed_code="" %}
				{% cta "android_download_cta" label="Android CTA Button", embed_code="" %}